DEPENDENCIES

In [2]:
from bs4 import BeautifulSoup as bs
import requests
import numpy as np
import pandas as pd
import sqlite3
from sqlalchemy import create_engine , inspect
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()
from sqlalchemy import Column, Integer, String, Float, DateTime
import datetime as dt

SOUP EXTRACT

In [3]:
indeed  = 'https://www.indeed.com/jobs?q=data+analyst&l=#'
response = requests.get(indeed).text

In [4]:
soup = bs(response, 'html.parser')

In [5]:
jobCards = soup.find_all('div', class_= 'jobsearch-SerpJobCard')

TRANSFORM

In [6]:
#Indeed source
# Loop through returned Indeed soup object and create a list of dicts with values wanted for fields

jobList =[]

for job in jobCards:
    # Error handling
    try:
        # Identify and return title of listing
        title = job.find('a', class_='jobtitle').text.strip()
        company = job.find('span', class_='company').text.strip()
        location = job.find('div', class_ = 'location accessible-contrast-color-location').text.strip()
      

        # Print results only if title, price, and link are available
        if (title and company and location):

           # Dictionary to be inserted into list
            post = {
                'job_title': title,
                'company': company,
                'location': location
            }
            jobList.append(post)
            
    except AttributeError as e:
        pass

In [7]:
#Indeed List of Dicts create a df
df1 = pd.DataFrame(jobList)

In [8]:
df1.head(5)

,job_title,company,location
0,CCoE CM Cyber Sit. Understanding Data Analyst,FITT Scientific LLC,"Fort Gordon, GA 30905"
1,Data Analyst,RedZone,"Boulder, CO"
2,Data Analyst,Nemours,"Jacksonville, FL 32099 (Marietta area)"
3,SQL Data Analyst,Utility Trailer Manufacturing Company,"Atkins, VA 24311"
4,Business Analyst,SSR Mining,"Valmy, NV"

In [10]:
# Import CSV output  from splinter code to a dataframe
df2 = pd.read_csv('Output/glassdoor_jobs.csv') #Remco to populate
df2

,job_title,company,location
0,"Data Analyst, Customer Experience Analytics",Autodesk,"San Francisco, CA"
1,Data Quality Analyst,Autodesk,"Portland, OR"
2,"Data Analyst, Genuine Protection",Autodesk,Montreal
3,Business Data Analyst (must work,RealTime Solutions,"Becker, MN"
4,Data Analyst with an Emphasis on Presentation,VS Media,"Westlake Village, Los Angeles, CA"
5,Senior Data Analyst,Autodesk,"San Francisco, CA"
6,Data Analyst,Comprehensive Healthcare,"Yakima, WA"
7,Data Analyst I,Cenlar,"Ewing, NJ"
8,Data Analytics Analyst,Inmar,"Rogers, AR"
9,Data Analyst,Zelis Healthcare,"Bedminster, NJ"
10,Data & Business Analyst,PennyMac,"Westlake Village, Los Angeles, CA"
11,Data Analyst,Sedgwick,"Dubuque, IA"
12,Data Analyst,Trupanion,"Seattle, WA"
13,Salesforce Data Analyst,Avalara,Remote
14,"Senior Data Analyst, Genuine Protection",Autodesk,Montreal
15,Data Analyst,DISH,"Englewood, CO"
16,Product Management Data Analyst,HP Inc.,"Spring, TX"
17,BI Data Analyst II,CHRISTUS Health,"Irving, TX"
18,Data Engineering Analyst,COUNTRY Financial,"Bloomington, IL"
19,Data Analyst,CopperPoint Insurance Companies,"Phoenix, AZ"
20,Data Analyst,Big Huge Games,"Timonium, MD"
21,Data Analyst,JMH Companies,"New Orleans, LA"
22,DATA INTEGRATION ANALYST - W2 ONLY!,Entelli Consulting,"Schaumburg, IL"
23,"Analyst, Data Analytics",Lincoln Financial,"Dover, NH"
24,Data Analyst,Allianz Partners,"Richmond, VA"
25,Data Driven Solutions Analyst,Harris,"Saint Paul, MN"
26,System Data Analyst (EPM),Clinica Family Health,"Lafayette, CO"
27,Data Analyst,DRB Capital,"Cresskill, NJ"
28,Data Analyst,ReGeneration Schools,"Chicago, IL"
29,Data Analyst,AIPSO,"Johnston, RI"

In [12]:
# Concat df1 and df2 to df3

df3 = df1.append(df2, sort=False)
df3

,job_title,company,location
0,CCoE CM Cyber Sit. Understanding Data Analyst,FITT Scientific LLC,"Fort Gordon, GA 30905"
1,Data Analyst,RedZone,"Boulder, CO"
2,Data Analyst,Nemours,"Jacksonville, FL 32099 (Marietta area)"
3,SQL Data Analyst,Utility Trailer Manufacturing Company,"Atkins, VA 24311"
4,Business Analyst,SSR Mining,"Valmy, NV"
5,Data Analyst,Private,"Aurora, CO 80011 (Jewell Heights - Hoffman Hei..."
6,Data Analyst - 9867780,Ursus,"McLean, VA 22102"
7,Data Analyst,"ASPYR, LLC","Desert Hot Springs, CA 92240"
8,Data Analyst - eCommerce,Uline,"Pleasant Prairie, WI 53158"
0,"Data Analyst, Customer Experience Analytics",Autodesk,"San Francisco, CA"
1,Data Quality Analyst,Autodesk,"Portland, OR"
2,"Data Analyst, Genuine Protection",Autodesk,Montreal
3,Business Data Analyst (must work,RealTime Solutions,"Becker, MN"
4,Data Analyst with an Emphasis on Presentation,VS Media,"Westlake Village, Los Angeles, CA"
5,Senior Data Analyst,Autodesk,"San Francisco, CA"
6,Data Analyst,Comprehensive Healthcare,"Yakima, WA"
7,Data Analyst I,Cenlar,"Ewing, NJ"
8,Data Analytics Analyst,Inmar,"Rogers, AR"
9,Data Analyst,Zelis Healthcare,"Bedminster, NJ"
10,Data & Business Analyst,PennyMac,"Westlake Village, Los Angeles, CA"
11,Data Analyst,Sedgwick,"Dubuque, IA"
12,Data Analyst,Trupanion,"Seattle, WA"
13,Salesforce Data Analyst,Avalara,Remote
14,"Senior Data Analyst, Genuine Protection",Autodesk,Montreal
15,Data Analyst,DISH,"Englewood, CO"
16,Product Management Data Analyst,HP Inc.,"Spring, TX"
17,BI Data Analyst II,CHRISTUS Health,"Irving, TX"
18,Data Engineering Analyst,COUNTRY Financial,"Bloomington, IL"
19,Data Analyst,CopperPoint Insurance Companies,"Phoenix, AZ"
20,Data Analyst,Big Huge Games,"Timonium, MD"
21,Data Analyst,JMH Companies,"New Orleans, LA"
22,DATA INTEGRATION ANALYST - W2 ONLY!,Entelli Consulting,"Schaumburg, IL"
23,"Analyst, Data Analytics",Lincoln Financial,"Dover, NH"
24,Data Analyst,Allianz Partners,"Richmond, VA"
25,Data Driven Solutions Analyst,Harris,"Saint Paul, MN"
26,System Data Analyst (EPM),Clinica Family Health,"Lafayette, CO"
27,Data Analyst,DRB Capital,"Cresskill, NJ"
28,Data Analyst,ReGeneration Schools,"Chicago, IL"
29,Data Analyst,AIPSO,"Johnston, RI"

LOAD

In [13]:
# Create the posting class (the posting table that will be in the db)
class Posting(Base):
    __tablename__ = 'posting'
    id = Column(Integer, primary_key=True)
    job_title = Column(String(255))
    company = Column(String(255))
    location = Column(String(255))
    timestamp = Column(DateTime())

In [14]:
# Create a connection to a SQLite database
engine = create_engine('sqlite:///job_postings.db')
conn = engine.connect()
Base.metadata.create_all(engine)  #this should create the table based on the classes defined
from sqlalchemy.orm import Session
session = Session(bind=engine)

In [15]:
# Iterate over df and add rows as records to table

for i in df3.itertuples():

    try:
        record = Posting(job_title = i.job_title, company = i.company, location = i.location,timestamp = pd.datetime.now().replace(microsecond=0) )
        session.add(record)
        session.commit()
 
    except:
        pass

TEST

In [16]:
#Insepect the database
inspector = inspect(engine)
inspector.get_table_names()

['posting']

In [17]:
columns = inspector.get_columns('posting')
for column in columns:
    print(column["name"], column["type"])

id INTEGER
job_title VARCHAR(255)
company VARCHAR(255)
location VARCHAR(255)
timestamp DATETIME

In [18]:
postings = session.query(Posting)
for job in postings:
  print(job.job_title)

CCoE CM Cyber Sit. Understanding Data Analyst
Data Analyst
Data Analyst
SQL Data Analyst
Business Analyst
Data Analyst
Data Analyst - 9867780
Data Analyst
Data Analyst - eCommerce
Data Analyst, Customer Experience Analytics
Data Quality Analyst
Data Analyst, Genuine Protection
Business Data Analyst (must work
Data Analyst with an Emphasis on Presentation
Senior Data Analyst
Data Analyst
Data Analyst I
Data Analytics Analyst
Data Analyst
Data & Business Analyst
Data Analyst
Data Analyst
Salesforce Data Analyst
Senior Data Analyst, Genuine Protection
Data Analyst
Product Management Data Analyst
BI Data Analyst II
Data Engineering Analyst
Data Analyst
Data Analyst
Data Analyst
DATA INTEGRATION ANALYST - W2 ONLY!
Analyst, Data Analytics
Data Analyst
Data Driven Solutions Analyst
System Data Analyst (EPM)
Data Analyst
Data Analyst
Data Analyst

RESET DataBase

In [19]:
# Use this to clear out the db when necessary

#Base.metadata.drop_all(engine)

Troubleshooting Resources:

In [20]:
# If needed to explore the soup object

#jobCard = soup.find('div', class_= 'jobsearch-SerpJobCard')
#print(jobCard.prettify())